<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
<script>
.color {
  background-color: @brand-primary;
}
@alert-message-background: @brand-info;
.alert {
  background-color: @alert-message-background;
}

</script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
     <a href='../../logout'>{% if  user.is_authenticated %}
                        Exit
                        {% endif %}</a>
    <a href="../login/"> {% if not user.is_authenticated %}
                        LogIn
                        {% endif %}
    </a> 

    {% if user.is_authenticated %}
        {{user.username}}
    {% else%}
    <a href='../'>Registration</a>
    {% endif %}

    <a href="../../get_list/"> {% if user.is_authenticated %}
                        Notes
                        {% endif %}
    </a> 
</nav>


<div class="jumbotron">
 <h1><center>Welcome to my site {{user.username}}</center></h1>

 </div>
    {% block content %}


    {% endblock %}


{% block footer %}
    <div class="col-xs-offset-6 col-sm-offset-4 col-xs-6 col-sm-4 col-xs-offset-6 col-sm-offset-4">
    <p ><center>Thanks for visiting my site.</center></p>
    </div>
{% endblock %}

</body>
</html>


