{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}

 
{% block content %}
    
   
    <form class='content' method='post' action='' role="form">{% csrf_token %}

    <div background='#e0d2c7' class="layout form-group col-md-6 col-md-offset-3">
        <label for="user">content:</label> <textarea class="form-control" id="id_text" name="user" rows=1  width="50px" >{{list_category}}</textarea>
    </div>


    

    </form>
    
     
{% endblock %}