{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'new_note' %} enctype="multipart/form-data">
            {% csrf_token %}

 {{form}}
    <div class="form-group col-md-6 col-md-offset-3">
    <hr>
        <input type="submit" class='btn btn-primary' value="Save user" />
    </div>
      
    </form>          

</div>
{% endblock %}