{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'new_note' %} enctype="multipart/form-data">
            {% csrf_token %}
     
    <div class="form-group col-md-6 col-md-offset-3">
        <label for="title" >Title:</label> 
       {{ form.title}}
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="Content">Content:</label> 
       {{ form.content}}
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="Color">Color:</label> {{ form.color}}
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="note_category">Category:</label>
        {%for category in form.category.all %}
        {{ category}}
        {%endfor%}
       
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="note_label">Label:</label> {{ form.note_label}}
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="media">Media:</label> {{ form.note_media}}
    </div>

    <div class="form-group col-md-6 col-md-offset-3">
        <label for="User">User:</label>
        {{form.user}}
<!-- 
        {%for i in form.user%}
        {%if i == request.user%}
        {{i}}
        {%endif%}

        {%endfor%}
 -->
    </div>    

    <div class="form-group col-md-6 col-md-offset-3">
    <hr>
        <input type="submit" class='btn btn-primary' value="Save user" />
    </div>
      
    </form>          

</div>
{% endblock %}