{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
     

<form action='' method='post'>{% csrf_token %}
<!-- <div class="col-md-6 col-md-offset-3"> 

<a href="../avatar/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Add new note</button></a>

</div> -->
    <div class="col-md-6 col-md-offset-3"> 

    <a href="../new_note/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add new note</button></a>

    <a href="../new_category/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th-list"></span> Add new category</button></a>
    
    <a href="../new_label/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add new label</button></a>

    </div>
   

    <div class="panel panel-default col-md-6 col-md-offset-3">
        <!-- Default panel contents -->

        
        <div class="panel-heading">List of notes:</div>
        <div class="panel-body">
        
         <!-- List group -->
         {% for o in note_list %}

        <ul class="list-group">
        <li class="list-group-item"><a href="{%url 'get_id_list' o.pk%}">{{o.pk}}:    Title: {{o.title}}<br>
        Content: {{o.content}}<br>
        
        </li>
        </ul>
        </a>
        {% endfor %}
        {{note_list}}
        <br><br>
     </form>


      </div>

         <!-- List group -->

<!--     <div id='test_list' >
            
    <p>Api:</p>
    <script >
        $.get("http://127.0.0.1:8000/api/list_color/", function(rez){
        //$("#test_list").append("<p>Test</p>");
        rez.forEach(function(item){
            $("#test_list").append("<p>Color name:"+item.color_name+"</p>");
        });
     });

    </script> 

    <script >
        $.get("http://127.0.0.1:8000/api/list_notes/", function(rez){
        //$("#test_list").append("<p>Test</p>");
        rez.forEach(function(item){
            $("#test_list").append("<p> Content: "+item.content+"</p>");
        });
     });

    </script>

    <script >
        $.get("http://127.0.0.1:8000/api/list_category/", function(rez){
        //$("#test_list").append("<p>Test</p>");
        rez.forEach(function(item){
            $("#test_list").append("<p>Category name: "+item.category_name+"</p>");
        });
     });

    </script>

    <script >
        $.get("http://127.0.0.1:8000/api/list_lable/", function(rez){
        //$("#test_list").append("<p>Test</p>");
        rez.forEach(function(item){
            $("#test_list").append("<p> Lable name: "+item.lable_name+"</p>");
        });
     });

    </script>

    <script >
            $.get("http://127.0.0.1:8000/api/list_lable/", function(rez){
        //$("#test_list").append("<p>Test</p>");
            rez.forEach(function(item){
            $("#test_list").append("<p> Lable name: "+item.lable_name+"</p>");
            });
        });

    </script>

	</div> -->
        
{% endblock %}